.todo-item {
    transition: opacity 1s ease-in-out;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 0.2px solid #ccc;
    border-radius: 20px;
    margin-bottom: 0.5rem;
  }
  
  .completed span {
    text-decoration: line-through;
  }
  
  .fade-out {
    opacity: 0;
  }
  