html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
}


.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

 

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 70%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

li button:hover {
  background-color: #ff1a1a;
}

 
.container {
  flex-grow: 1;
}